<!doctype html>

<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="GitHubActivity">

    <header>GitHub Activity!</header>

    <h1>Username Info</h1>
    <section ng-controller="UsernameController">
        <input type="text" ng-model="username"></input>
        <button ng-click="addUser()">Add User!</button>
    </section>

    <h2>User Activity</h2>
    <section ng-controller="UserActivityController">
        <ul>
            <li ng-repeat="something in ppl">
                <p>{{ something.name }}</p>
                <p>{{ something.repositories }} repositories on GitHub</p>
            </li>
        </ul>
    </section>

</body>

</html>